@media only screen and (min-width:1236px) and (max-width:1282px){
  
  .main-banner{
    
    height: 2200px;
    
  }
  .footer-list:nth-child(-n+4){
    
    padding-right: 30;
  
  }
  
  .homes{
    
    margin-bottom: 150px;
    height: 710px;
    
  }
  
  .featured-home{
    
    height: 263px;
    margin-bottom: 147px;
}
  
  .featured-home:hover{
  
  margin-bottom: 0px;
  
}
  
  @keyframes homeImg{
  
  from{
    
    height: 263px;
    
  }
  
  to{
    
    height: 410px;
  }
  
}
  
  .featured-home:nth-last-child(3){
    
    margin-right:5em;
    
  }
  
  .featured-home img{
    
    width: 25em;
    
  }