@import url(http://fonts.googleapis.com/css?family=Raleway);


html,body{
  
  margin: 0px;
  padding: 0px;
  min-height: 100%;
}

body{
  
  background-color: orange;
  font-family: Raleway, sans-serif;
  width: 100%
}

.bar{
  
  height: 110px;
  background-color: #0076ff;
  position: fixed;
  width: 100%;
  box-shadow: 1px 0px 10px 1px black;
}

.logo{
  
  position: relative;
  top: 8px;
  width: 8em;
  margin-left: 10px;
}

.nav,
.nav ul,
.nav ul li,
.nav ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav:after,
.nav > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.nav {
  width: auto;
  border-bottom: 3px solid #0076ff;
  font-family: Raleway, sans-serif;
  line-height: 1;
  
}
.nav ul {
  background: #ffffff;
}
.nav > ul > li {
  float: left;
}
.nav.align-center > ul {
  font-size: 0;
  text-align: center;
}
.nav.align-center > ul > li {
  display: inline-block;
  float: none;
}
.nav.align-right > ul > li {
  float: right;
}
.nav.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
.nav > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
.nav > ul > li.active > a,
.nav > ul > li:hover > a,
.nav > ul > li > a:hover {
  color: #ffffff;
}
.nav > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
.nav > ul > li.active > a:after,
.nav > ul > li:hover > a:after,
.nav > ul > li > a:hover:after {
  background: #0076ff;
}

.main{
  
  padding-top:110px;
  margin: 0;
  text-align: center;
}

.main-banner{

  background-color: white;
  margin-left: 80px;
  margin-right: 80px;
  padding: 20px;
  display: block;
  
}

.map-banner{
  float: left;
  margin: 0px;
  padding: 0px;
  width: 38%;
}

.mainMap{
  
  width: 100%;
  min-height: 300px ;
  
}

.search-area{
  
  
}

.search-banner{
  float: right;
  background-color: orange;
  width: 60%;
  height: 60px;
  font-size: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.search-banner-list{
  float: left;
  list-style: none;
  width: 100%;
  padding: 0px;
  margin: 0px;
  
}

.search-banner-list li{
  
  font-family: 'Raleway';
  font-size: 15px;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  height: 38px;
  padding-top:20px;
}

.search-banner-list li:hover{
  
  background-color: #e89600;
  border: 1px solid #e89600;
  border-radius: 5px;
}
.search-tool{
  
  margin-top: 20px;
  width: 60%;
  display: block;
  float: right;
  
}
#autocomplete-input{

  float: left;
  display: block;
  width: 80%;
  height: 40px;
  margin-left: 10px;
  
}

#Straal{
  
  width: 15%;
  height: 40px;
  
}

#range-filter-selector-select-filter_koopprijsvan{
  
  float: left;
  display: block;
  margin-top: 10px;
  width: 30%;
  height: 40px;
  margin-left: 10px;
  
}

#range-filter-selector-select-filter_koopprijstot{
  
  float: left;
  display: block;
  margin-top: 10px;
  width: 30%;
  height: 40px;
  margin-left: 10px;
  
}

.search-block__submit{
  
  float: left;
  display: block;
  width: 20%
}

.search-block__submit button{
  
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-left: 30px;
  background-color: #0076ff;
  color: white
}

.homes{
  
  height: 500px;
  margin-top: 40px;
  background-color: white;
  float: right;
  width: 100%;
  text-align: left; 
}

.homes h2{
  
  padding-bottom: 50px;
}

featured-homes-items{
  
  
  width: 50em;
}

.featured-home{
  
  margin: 10px;
  list-style: none;
  float: left;
  border: 1px solid #e2e2e2;
  height: 213px;
  overflow: hidden;
}

.featured-home:hover{
  
  animation-name: homeImg;
  animation-duration: 100s;
  animation-timing-function: step-start;
  
}

@keyframes homeImg{
  
  from{
    
    height: 213px;
    
  }
  
  to{
    
    height: 360px;
  }
  
}

.featured-home img{
  
  padding-bottom: 10px;
  width: 20em;
}

.featured-home-street{
  
  padding-bottom: 30px;
}

.featured-home-postcode-city{
  padding-bottom: 10px;
}

.featured-home-price{
    padding-bottom: 20px;
}

.featured-home-rent{
  padding-top: 50px;
  text-align: left;  
  height: 600px;
  clear: both;
  
}

.featured-home-rent h2{
  
  padding-bottom: 50px;
}
.footer{

  margin: 0px;
  text-align: center;
  display: block;
  width: 100%;
  height: 300px;
  background-color: orange;
  
  clear: both;
  border-bottom: 1px solid white;
  
}

.top-footer{
  background-color: #e0e0e0;
  clear: both;
  height: 250px;
  margin-left: 80px;
  margin-right: 80px;
  
}

.footer-list{
  
  text-align: left;
  float: left;
  list-style: none;
  padding-top: 10px;
  width: 13%;
  font-size: 15px;
}

.footer-list:nth-child(-n+4){
  
  
  padding-right: 40px;
}

.footer-list li{
  
  padding-bottom: 5px
  
}

.bottom-footer{
  
  
  margin-left: 100px;
  margin-right: 100px;
  
  
}



.social-media{
  
  float: left;

  margin: 0px;
  
}

.social-media li{
  
  list-style: none;
  float: left;
  padding-left: 15px
  
  
}

.social-media img{
  
  height: 24px;
  width: 20px;
  
}

.copyright{
  
  float: right
}

a{
  
  text-decoration: none;
  color: #186e91;
}